<link rel="stylesheet" type="text/css" href="babooshka/css/menu.css">
<div id="nav-bar">
    <div id="nav-bar-decoration">
        <img id="app-icon" ng-src="babooshka/images/matryoshka.png" class="circle-img"/>
        <h1 id="nav-bar-title">Babooshka</h1>
    </div>
    <div id="menu">
        <span id="triangle-bottomright"></span>
        <ul ng-repeat="page in menu.routes"
            class="menu-item"
            ng-class="{active:menu.isActivePage($index), disabled:menu.isActivePage($index)} "
            ng-click="menu.setActive($index)"><a href="{{ menu.getUrl(page.url) }}">{{ page.name }}</a></ul>
    </div>
</div>
<div id="nav-bar-divider">
    <div id="nav-bar-divider-spacer"></div>
    <div id="nav-bar-divider-triangles"></div>
</div>