/* font-family: 'Biryani', sans-serif; */
@font-face {
    font-family: 'Biryani';
    font-style: normal;
    font-weight: 400;
    src: local('Biryani'), local('Biryani-Regular'),  url(../fonts/Biryani-Regular.ttf) format('truetype');
}