span.local{
    color: blue;
}

span.remote{
    color: red;
}

img{
    margin: 0 auto;
    display: block;
}

.help-spec-table{
    border-collapse: collapse;
    margin: 0 auto 40px;
}

.help-spec-table tr:first-child{
    border-bottom: 1px solid #ff8044;
}

.help-spec-table th{
    text-align: left;
}

.help-spec-table td, th{
    padding: 3px 13px;
    font-family: sans-serif;
    font-size: 10pt;
}

.inner-list {
    margin-left: 30px;
}

#help-main {
    display: grid;
    grid-template-columns: 180px auto;
    height: 100%;
}

#index {
    overflow-y: auto;
    overflow-x: hidden;
}

#index ol {
    padding-left: 24px;
}

#index li{
    margin-bottom: 5px;
}

#help-disp {
    overflow-y: auto;
    overflow-x: hidden;
}

#content {
    height: calc(100% - 220px);
}

#index-header {
    color: #3d3d3d;
    width: 75px;
    padding-top: 0;
    font-size: 18px;
    font-family: sans-serif;
    text-shadow: #949494 2px 2px 3px;
    text-transform: uppercase;
    font-style: italic;
    margin-bottom: 10px;
}

.index-block {
    font-weight: bold;
}

#content {
    padding-left: 50px;
    padding-right: 50px;
}

.page-header {
    margin-left: 100px;
}