#nav-bar{
    background: #ff6034;
    background-image: url('../images/navbar-bg.png');
    background-size: 50px;
    height: 110px;
    position: relative;
}

#nav-bar-decoration{
    margin: 10px;
    display: inline-block;
    position: relative;
}

#app-icon{
    display:inline-block;
    width: 75px;
    height: 75px;
    padding: 5px;
    background: #ffdc61;
    box-shadow: inset 0 9px 6px rgba(138, 56, 11, 0.61);
    border-top-style: solid;
    border-top-width: 2px;
    border-top-color: #924723;
}

#nav-bar-title{
    font-family: 'Biryani', sans-serif;
    position: relative;
    margin: 0;
    font-size: 36pt;
    display: inline-block;
    left: 10px;
    transform: translateY(-25%);
    text-shadow: #892c1f 4px 4px 5px;
    color: white;
}

#menu{
    position:absolute;
    top:0;
    right:0;
    height: 100%;
    background: #ffdc61;
    display: inline-block;
    padding-right: 30px;
}

#triangle-bottomright {
    position:absolute;
    top:0;
    left: -22%;
    width: 0;
    height: 0;
    border-bottom: 111px solid #ffdc61;
    border-left: 100px solid transparent;
}

.circle-img {
    border-radius: 500px;
    -webkit-border-radius: 500px;
    -moz-border-radius: 500px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#nav-bar-divider {
    position: absolute;
    width: 100%;
    top: 110px;
}

#nav-bar-divider-spacer {
    height: 40px;
    background: rgb(145, 145, 145);
    background: -moz-linear-gradient(top, rgb(145, 145, 145) 0%, rgb(157, 157, 157) 19%, rgb(165, 165, 165) 20%, rgb(187, 187, 187) 100%);
    background: -webkit-linear-gradient(top, rgba(145, 145, 145, 1) 0%,rgba(157, 157, 157,1) 19%, rgba(165, 165, 165,1) 20%,rgba(187, 187, 187,1) 100%);
    background: linear-gradient(to bottom, rgba(145, 145, 145, 1) 0%,rgba(157, 157, 157,1) 19%,rgba(165, 165, 165,1) 20%,rgba(187, 187, 187,1) 100%);
}

#nav-bar-divider-triangles {
    background-image: url('../images/footer-triangle.png');
    background-repeat: repeat-x;
    background-size: 40px 15px;
    height: 20px;
}

.menu-item{
    font-family: sans-serif;
    display: inline-block;
    cursor: pointer;
    color: #825c42;
    font-size: 15pt;
    margin-top: 40px;
    margin-left: 2px;
    margin-right: 2px;
    padding: 0 10px;
}

.menu-item a{
    cursor: inherit;
    color:inherit;
    text-decoration: none;
}

.menu-item.active{
    cursor: default;
    text-decoration: underline;
}

.menu-item:hover{
    text-decoration: underline;
}

#menu-item.disabled{
    cursor: default;
    text-decoration: underline;
}


