.ellipsis{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.setting-item {
    border-radius: 7px;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.18) 5px 5px 5px;
    margin: 10px 0;
}

.setting-item #header{
    display: flex;
    flex-direction: row;
    padding: 3px 10px;
    background: #ff966b;
    background: -moz-linear-gradient(top, #ff966b 0%, #ffe8b4 5%, #ff966b 11%, #d0584b 100%);
    background: -webkit-linear-gradient(top, #ff966b 0%, #ffe8b4 5%, #ff966b 11%, #d0584b 100%);
    background: linear-gradient(to bottom, #ff966b 0%, #ffe8b4 5%, #ff966b 11%, #d0584b 100%);
}

.setting-item #header #title{
    flex: 1;
    height:29px;
    padding-left: 15px;
    cursor: pointer;
    font-size: 15pt;
    font-family: 'Biryani', sans-serif;
    color: white;
    margin-right: 30px;
}

.setting-item #header #title:hover{
    text-shadow: rgba(255, 242, 171, 0.54) 1px 2px 4px;
}

.setting-item #header #state-toggle{
    margin-top: 16px;
}

.setting-item #form{
    border: 2px solid #ab7a69;
    border-radius: 7px;
    overflow: hidden;
    padding: 16px;
}

.setting-item #form #buttons{
    text-align: center;
    margin-top:15px;
}

.form-button{
    display: inline-block;
    text-decoration: none;
    font-size: 11pt;
    font-family: sans-serif;
    text-transform: uppercase;
    min-width: 100px;
    margin: 0 5px;
    border: 3px solid #ffffff;
    border-radius: 5px;
    padding: 5px;
    color:white;
    box-shadow: rgba(80, 82, 41, 0.42) 2px 2px 5px;
}

#delete-button.form-button{
    background: #ff323a;
    background: -moz-linear-gradient(top, #ff323a 0%, #cc4456 100%);
    background: -webkit-linear-gradient(top, #ff323a 0%, #cc4456 100%);
    background: linear-gradient(to bottom, #ff323a 0%, #cc4456 100%);
}

#delete-button.form-button:hover{
    background: #ff815e;
    background: -moz-linear-gradient(top, #ff815e 0%, #cc4456 100%);
    background: -webkit-linear-gradient(top, #ff815e 0%, #cc4456 100%);
    background: linear-gradient(to bottom, #ff815e 0%, #cc4456 100%);
}

#save-button.form-button{
    background: #56c62f;
    background: -moz-linear-gradient(top, #56c62f 0%, #648f2e 100%);
    background: -webkit-linear-gradient(top, #56c62f 0%, #648f2e 100%);
    background: linear-gradient(to bottom, #56c62f 0%, #648f2e 100%);
}

#save-button.form-button:hover{
    background: #3edd69;
    background: -moz-linear-gradient(top, #3edd69 0%, #648f2e 100%);
    background: -webkit-linear-gradient(top, #3edd69 0%, #648f2e 100%);
    background: linear-gradient(to bottom, #3edd69 0%, #648f2e 100%);
}

#form {
    position: relative;
    background: #f5f2c9;
}

#form label:first-of-type{
    margin-top: -5px !important;
}

#form label {
    margin-top: 15px;
    display: block;
    font-family: 'Biryani', sans-serif;
    font-size: 12pt;
    color: #D0584B;
}

#form label.inlineLabel{
    display:inline-block !important;
    margin-top: 21px !important;
}

#base-url{
    font-family: sans-serif;
    font-size: 12pt;
    color: #818181;
    margin: 0 10px 3px;
}

#form .editText {
    max-width: calc(100% - 30px);
    min-width: calc(100% - 30px);
    border-radius: 3px;
    font-family: sans-serif;
    font-size: 12pt;
    padding: 10px;
    margin-left: 10px;
    background: #fefdea;
}

#setting-message {
    height: 20px;
    padding: 4px 10px;
    margin: 0 0 13px;
    color: white;
    font-family: sans-serif;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: inset black 3px 2px 2px;
}

#setting-message.error {
    background: #ae1932;
}

#setting-message.success {
    background: #2dae36;
}

#setting-message.ng-enter,
#setting-message.ng-leave {
    -webkit-transition: all ease-out .2s;
    -moz-transition: all ease-out .2s;
    -ms-transition: all ease-out .2s;
    -o-transition: all ease-out .2s;
    transition: all ease-out .2s;
}

#setting-message.ng-leave.ng-leave-active,
#setting-message.ng-enter {
    -webkit-transition: all ease-out .2s;
    -moz-transition: all ease-out .2s;
    -ms-transition: all ease-out .2s;
    -o-transition: all ease-out .2s;
    transition: all ease-out .2s;

    height: 0;
    margin-bottom: 0;
    padding: 0;
    opacity: 0;
    background: white;
}

#setting-message.ng-enter.ng-enter-active.error,
#setting-message.ng-leave.error{
    background: #ae1932;
}

#setting-message.ng-enter.ng-enter-active.success,
#setting-message.ng-leave.success{
    background: #2dae36;
}

#setting-message.ng-enter.ng-enter-active,
#setting-message.ng-leave {
    -webkit-transition: all ease-out .2s;
    -moz-transition: all ease-out .2s;
    -ms-transition: all ease-out .2s;
    -o-transition: all ease-out .2s;
    transition: all ease-out .2s;

    height: 20px;
    margin-bottom: 13px;
    padding: 4px 10px;
    opacity: 1;
}

#form select{
    display:block;
    max-width: 100px !important;
    min-width: 100px !important;
    height: 28px !important;
    padding: 0 !important;
    text-align: center;
    margin-top: 5px;
}

.checkbox-info{
    margin: 0 22px 0 32px;
    color: #8f8f8f;
    font-family: 'Biryani', sans-serif;
    font-size: 8pt;
    padding:  0 3px 3px;
}

.checkbox-warn{
    margin: 0 22px 0 32px;
    color: #9a3032;
    font-family: 'Biryani', sans-serif;
    font-size: 8pt;
    border: 1px solid #9a3032;
    border-radius: 5px;
    padding: 3px;
}
