<h1 class="page-header">Mapping</h1>
<link rel="stylesheet" type="text/css" href="babooshka/css/stubs.css">
<div class="page" ng-controller="StubsController as page">

    <div>
        <p id="channel-header">Channel:</p>
        <div id="channels">
            <a ng-repeat="channel in channels" ng-class="{selected: selectedChannel===channel, indexing: channel.indexing}" class="channel-button" href="#" ng-click="page.selectChannel(channel)" title="{{channel.indexing ? 'Channel being indexed':''}}">{{channel.channel}}</a>
        </div>
    </div>

    <p id="stub-message" ng-repeat="message in messages" ng-class="message.type">{{message.message}}</p>

    <div class="stub-item new-Stub">

        <div id="new-stub-features">
            <div id="header" class="new-stub">
                <h2 id="title" class="ellipsis" href="#" ng-click="page.toggleShow(newStub)">Add Mapping</h2>
            </div>
            <div ng-hide="selectedChannel._id < 0" id="header" ng-class="{'live-indexing': !selectedChannel.indexing, 'stop-indexing': selectedChannel.indexing}">
                <img src="babooshka/images/cassette.png"><h2 id="title" class="ellipsis" href="#" ng-click="page.toggleIndexing()">{{selectedChannel.indexing ? "Stop indexing" : "Live Indexing"}}</h2>
            </div>
        </div>
        <div id="form" class="new-stub" ng-show="newStub.opened">

            <p id="stub-message" ng-repeat="message in newStub.messages" ng-class="message.type">{{message.message}}</p>

            <label for="alias">Alias</label>
            <input id="alias" class="editText" type="text" ng-model="newStub.temp.alias" ng-value="{{ stringify(newStub.alias) }}">

            <label for="path">Path</label>
            <p id="base-url">{{forwardUrl}}/</p>
            <select id="method"
                    class="editText smallField"
                    ng-model="newStub.temp.method"
                    ng-init="newStub.temp.method=(newStub.method || 'GET')">
                <option value="GET">GET</option>
                <option value="POST">POST</option>
                <option value="PUT">PUT</option>
                <option value="PUT">DELETE</option>
                <option value="PATCH">PATCH</option>
            </select>
            <input id="path" class="editText" type="text" ng-model="newStub.temp.path" ng-value="{{ stringify(newStub.path) }}">

            <label class="inlineLabel" for="response">Response</label>
            <div class="smallFieldWithOverheadLabel">
                <label class="overheadLabel" for="code">Code</label>
                <input id="code" class="editText smallField" type="text" ng-model="newStub.temp.code" ng-value="{{ stringify(newStub.code) }}">
            </div>
            <div class="smallFieldWithOverheadLabel">
                <label class="overheadLabel" for="delay">Delay (ms)</label>
                <input id="delay" class="editText smallField" type="text" ng-model="newStub.temp.delay" ng-value="{{ stringify(newStub.delay) }}">
            </div>
            <div class="editField">
                <p class="editTextMultilineDecor" ng-bind-html="newStub.temp.responseDecorated"></p>
                <textarea rows="8" id="response" class="editTextMultiline" ng-model="newStub.temp.response" ng-change="page.refreshWarnings(newStub)"></textarea>
            </div>

            <div id="buttons">
                <a id="delete-button" class="form-button" href="#" ng-click="clearNewStub()">clear</a>
                <a id="save-button" class="form-button" href="#" ng-click="page.addStub($event)">save</a>
            </div>
        </div>
    </div>

    <div class="stub-item" ng-repeat="stub in stubs">

        <div id="header">
            <h2 id="title" class="ellipsis" href="#" ng-click="page.toggleShow(stub)"
                ng-bind-html="stub.alias || page.getHighlightedHeader(stub.path)"></h2>

            <toggle-switch id="state-toggle"
                    on-label="ON"
                    off-label="OFF"
                    class="switch-success switch-toggle"
                    ng-model="stub.temp.active"
                    ng-change="page.toggleActive(stub)">
            </toggle-switch>

            <h2 id="title-path" class="ellipsis"
                ng-bind-html="page.getHighlightedHeader(stub.path)" ng-show="stub.alias"></h2>

        </div>
        <div id="form" ng-show="stub.opened">

            <p id="stub-message" ng-repeat="message in stub.messages" ng-class="message.type">{{message.message}}</p>

            <label for="alias">Alias</label>
            <input id="alias" class="editText" type="text" ng-model="stub.temp.alias" ng-value="{{ stringify(newStub.alias) }}">

            <label for="path">Path</label>
            <p id="base-url">{{forwardUrl}}/</p>
            <select id="method"
                    class="editText smallField"
                    ng-model="stub.temp.method"
                    ng-init="stub.temp.method=(stub.method || 'GET')">
                <option value="GET">GET</option>
                <option value="POST">POST</option>
                <option value="PUT">PUT</option>
                <option value="PUT">DELETE</option>
                <option value="PATCH">PATCH</option>
            </select>
            <input id="path" class="editText" type="text" ng-model="stub.temp.path" ng-value="{{ stringify(stub.path) }}">

            <label class="inlineLabel" for="response">Response</label>
            <div class="smallFieldWithOverheadLabel">
                <label class="overheadLabel" for="code">Code</label>
                <input id="code" class="editText smallField" type="text" ng-model="stub.temp.code" ng-value="{{ stringify(stub.code) }}">
            </div>
            <div class="smallFieldWithOverheadLabel">
                <label class="overheadLabel" for="delay">Delay (ms)</label>
                <input id="delay" class="editText smallField" type="text" ng-model="stub.temp.delay" ng-value="{{ stringify(stub.delay) }}">
            </div>
            <div class="editField">
                <p class="scroll-slave editTextMultilineDecor" ng-bind-html="stub.temp.responseDecorated"></p>
                <textarea rows="8" id="response" class="scroll-master editTextMultiline" ng-model="stub.temp.response" ng-change="page.refreshWarnings(stub)"></textarea>
            </div>

            <div id="buttons">
                <a id="delete-button" class="form-button" href="#" ng-click="page.deleteStub(stub)">delete</a>
                <a id="save-button" class="form-button" href="#" ng-click="page.updateStub(stub,$event)">save</a>
            </div>
        </div>
    </div>
</div>